<html>
<body>
    <h1>BlogDB App</h1>
    <h3>Login</h3>
    {{message}}
    <form method="POST" action="/users/login">
        <input name="username" type="text" placeholder="Username"/>
        <input name="password" type="password" placeholder="Password"/>
        <button>Login</button>
    </form>
    <h3>Register</h3>
    <form method="POST" action="/users/register">
        <input name="username" type="text" placeholder="Username"/>
        <input name="password" type="password" placeholder="Password"/>
        <button>Register</button>
    </form>
</body>
</html>