<html>

<header>
</header>

<body>
{{> menu}}
<form method="GET" action="/users/login">
    <button>Login</button>
</form>
<form method="GET" action="/users/register">
    <button>Register</button>
</form>
</body>

</html>