<form method="POST" action="/posts/menu-posts">
    <button>All Posts</button>
</form>
<form method="POST" action="/posts/menu-myposts">
    <button>My Posts</button>
</form>
<form method="POST" action="/users/signout">
    <button>Sign Out</button>
</form>