<html>

<header>
</header>

<body>
{{> menu}}
<form method="POST" action="/users">
    <input name="username" type="text" placehoder="Enter Username"/>
    <button>Go</button>
</form>
</body>

</html>