#menuBar {
  display: flex;
  justify-content: center;
}

#menuBar button {
  margin-right: 10px;
}

#menuBlock div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

@media (min-width: 0px) and (max-width: 500px) {
  #menuBar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
